.idea/vcs.xml
.idea/workspace.xml
.idea/misc.xml
*.pyc
*.iml
mysite/polls/__init__.py
mysite/polls/migrations/__init__.py
mysite/mysite/__pycache__/settings.cpython-36.pyc
*.sqlite3
.idea/workspace.xml
